.view-first-half, .view-second-half {
  width: 300px;
  float: left;
}
 
.view-first-half {
  border-right: 2px solid #808080;
  padding-right: 2%;
}
 
.view-second-half {
  padding-left: 2%;
  float: right;
}
.box{
display:block;
width:auto;
margin:5px;
border-top:4px solid #018FE2;
}
.col0 {width: 100%;} /* Widht for no columns */
.col1 { width: 120px; }
.col2 { width: 180px; }
.col3 { width: 220px; }
.col4 { width: 440px; }
.col5 { width: 700px; }

.col1 img{ max-width: 120px; }
.col2 img{ max-width: 180px; }
.col3 img{ max-width: 220px; }
.col4 img{ max-width: 440px; }
.col5 img{ max-width: 700px; }


.views-field {
display:block;
width:auto;
}
